<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link href="data/css/main.css" rel="stylesheet">
	<link href="data/css/fonts.css" rel="stylesheet">
	{{css}}
</head>
<body id="body">
	<div id="header">{{header}}</div>
	<div id="center">
		<div id="left">{{left}}</div>
		<div id="content">
			<div id="popup" data-display="block"><div id="popup-content">{{popup}}</div></div>
			<div id="main">{{main}}</div>
		</div>
		<div id="right">{{right}}</div>
	</div>
	<div id="footer">{{footer}}</div>
</body>
</html>

