<div style="display: flex">
	<div style="flex: 1; padding: 0 0 0 5px">
		<div class="section">
			<div><b><img src="{{mod_path}}enshrouded.png" style="height: 24px" /></b></div><div>Status du serveur Enshrouded</div>
			<a class="button" href="#" onclick="pywebview.api.run('{{id}}', 'StartEnshrouded')">Lancer Enshrouded</a>
		</div>
		<div class="infos">
			<span>kyn.ryzom.com:15637</span> : <span id="enshrouded-status">💤 Initialisation...</span>
		</div>
		
		<br />
		<br />
		<div class="section">
			<div><b><img src="{{mod_path}}valheim.png" style="height: 24px" /></b></div><div>Status du serveur Valheim</div>
			<a class="button" href="#" onclick="pywebview.api.run('{{id}}', 'StartValheim')">Lancer Valheim</a>
		</div>
		<div class="infos">
			<span>kyn.ryzom.com</span> : <span id="valheim-status">💤 Initialisation...</span>
		</div>
		
	</div>
</div>
