<div style="padding-top: 100px; margin: auto; width: 500px">
Merci de saisir le mot de passe du serveur Eshrouded:<br /><br />
<input type="text" id="password" /><br /><br /><br /><br />
<input type="button" value="Démarrer le serveur {{server}}" onclick="pywebview.api.run('{{id}}', 'DoStartServer{{server}}')"/>
</div>
